{% extends 'base.html' %}
{% load static %}
{% load hkfilters %}
{% block conteudo %}
{% include 'parciais/_carrinho.html' %}

<div class="row mt-3">
  <div class="col-lg">
    <p class='lead'>Total no carrinho</p>

    <div class='table-responsive'>
      <table class="table">
        <tr>
          <td class="font-weight-bold">Total</td>
          <td>{{ carrinho|get_total|formata_preco }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-lg mt-auto">
    <a class="btn btn-lg btn-block btn-primary" href="{% url 'produto:resumodacompra' %}">
      Finalizar a compra
    </a>
  </div>
</div>
{% endblock %}